body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fefae0; /* Background Color */
    color: #001219; /* Text Color */
}

header {
    background-color: #6c5b7b; /* Primary Color */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #080503; /* Secondary Color */
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    background: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

a {
    text-decoration: none;
}

button {
    display: inline-block;
    margin: 10px;
    padding: 20px;
    background-color: #005f73; /* Primary Color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0a9396; /* Secondary Color */
}

.login-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #94d2bd; /* Accent Color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.login-link:hover {
    background-color: #005f73; /* Primary Color */
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #6c5b7b; /* Primary Color */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
